.game {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://res.cloudinary.com/dtf1kbume/image/upload/v1726201675/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4_p3lott.png');
    background-size: cover;
    background-position: center;
  }
  
  .ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image: url('https://res.cloudinary.com/dtf1kbume/image/upload/v1726127599/floor-sprite_ttoglv.png');
    background-size: cover;
    background-position: center;
  }
  
  .bird {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: transform 0.2s;
    pointer-events: none;
    background: no-repeat; /* Ensures transparent background */
    border: none;
    background-size: contain;
    border-radius: 50%;
    background-image: url('https://res.cloudinary.com/dtf1kbume/image/upload/v1726467462/free-png-flappy-bird-fly-transparent-png-image-with-flying-cartoon-bird-11562961211c6zsdplhjd_p0r6lw.png');
  }
  
  .bird-upside-down {
    transform: rotate(180deg);
  }
  
  .pipe {
    position: absolute;
    width: 70px;
    background-image: url('https://res.cloudinary.com/dtf1kbume/image/upload/v1726197889/top_bysqft.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .pipe-bottom {
    position: absolute;
    width: 75px;
    background-image: url('https://res.cloudinary.com/dtf1kbume/image/upload/v1726553796/6d2a698f31595a1_xwcene.png');
    background-size: 105% 105%;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  .instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    color: white;
  }
  
  .score-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
  }
  
  .score-top {
    font-size: 40px;
    color: white;
  }
  
  .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add background to make text more readable */
    padding: 20px;
    border-radius: 10px;
  }
  
  .instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add background to make text more readable */
    padding: 20px;
    border-radius: 10px;
  }
 
  
  